body{
    background-color: black;
}
header{
    background-color: red;
    font-size: 30px;
    padding: 10px;
}
ul li{
    display: inline-block;
    padding: 10px;
    font-family:'Comic Sans MS';
}
.divElementos{
   
    display: flex; /* Alinha os elementos lado a lado */
    gap: 20px; /* Espaço entre o texto e a imagem */
    align-items: flex-start; /* Alinha os elementos pelo topo */
}
#divTexto{
    margin-top: 10px;
    width: 500px;
    background-color: white;
    flex: 1;
    
}
#divImagem{
    width: 300px;
    background-color: white;
    margin-top: 10px;
    /* border: 10px solid red; */
    flex: 1; /* A imagem ocupa menos espaço */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    
}
h1{
    font-size: 30px;
    font-style: bolder;
    padding: 10px;
}
p{
    font-size: 20px;
    font-weight: 200%;
    color:black;
    padding: 70px;
}
.imgSrc{
    max-width: 100%; /* Garante que a imagem não ultrapasse os limites */
    height: auto;
    padding:50px;
    
}
.imgSrc2{
    max-width: 100%; /* Garante que a imagem não ultrapasse os limites */
    height: auto;
    width: 500px;
    height: 230px;
    
    
}
.divCampus{
    flex: 2; /* A imagem ocupa menos espaço */
    display: flex;
    
}
.divFlex{
    display: flex;
    flex-direction: column; /* Alinha as imagens em uma coluna */
    gap: 15px; /* Espaço entre as imagens */
    flex: 1; /* A área das imagens ocupa o mesmo espaço */
}
footer p{
    color:white;
    text-align: center;
    clear: right;
}