.backgroundBlue{
    font-family: 'Courier New';
    background-color: blue;
}
.backgroundTeal{
    font-family: 'Comic Sans MS';
    background-color: teal;
}
.backgroundRed{
    font-family: 'Arial';
    background-color:red;
}
body{
    margin: 0 0 0 0;
}
h1,h2,h3{
    margin-top: 0;
    margin-bottom: 0;
}
pre{
    padding-left: 10px;
    padding-right: 350px;
    white-space: nowrap;
}
.divContainer{
    float: right;
}
.div{
    display: flex;
    align-items: center;
}
